<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>Contact Us</h2>
			<p>For enquiries regarding events at OTT, contact a committee member, at <a href="mailto:ottairsoft.club@mail.com">ottairsoft.club@mail.com</a> or call 07895478634. For enquiries regarding the website, contact the webmaster, Jake Pryce-Jones, at <a href="mailto:prycejonesjake@gmail.com">prycejonesjake@gmail.com</a>.</p>
			<p>Make sure you also check out our <a href="https://www.facebook.com/groups/575987882419419/">Facebook</a> and <a href="https://www.instagram.com/explore/locations/1137884362962656/ott-airsoft-adventures/?hl=en">Instagram</a> pages.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
