<aside class="call-to-action bg-red" id="GDPR" style="display: none">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>GDPR Notice</h4>
          <p>This site makes use of Google Analytics and cookies to help improve your user experience.</p>
          <p>By using this site, you agree to your IP address and information about your browser being stored and processed by Google Analytics.</p>
          <p>More information about<a href="https://privacy.google.com/businesses/compliance">Google Analytics</a></p>
        <a href="#" class="btn btn-lg btn-light" onclick="acceptGDPR()">Accept</a>
        <a href="#" class="btn btn-lg btn-dark" onClick="window.history.back()">Go Back</a>
      </div>
    </div>
  </div>
</aside>


