<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="{{ site.baseurl }}/"  onclick = $("#menu-close").click(); >OTT Airsoft</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/#services" onclick = $("#menu-close").click(); >More Information</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/galleries/" onclick = $("#menu-close").click(); >Gallery</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
